<div id="messages" role="log" aria-live="polite"></div>
<input id="connect-button" type="button" value="Connect">
<input id="action-input" type="text">

<button id="call-button" type="button">Call</button>