<div id="messages" role="log" aria-live="polite"></div>
<input id="connect-button" type="button" value="Connect">
<input id="action-input" type="text">

<button id="call-button" type="button">Call</button>

<button id="getready-button" type="button">Get Ready</button>
<button id="walkup-button" type="button">Walk Up</button>
<button id="walkdown-button" type="button">Walk Down</button>
<button id="walkleft-button" type="button">Walk Left</button>
<button id="walkright-button" type="button">Walk Right</button>